.hero-head {
  background-image: linear-gradient(
      180deg,
      rgba(70, 70, 70, 0.32),
      rgba(70, 70, 70, 0.32)
    ),
    url("../assets/images/hero-project.jpg");
  position: relative;
  overflow: hidden;
  padding-top: 110px;
  padding-bottom: 5px;
  padding-left: 60px;
  padding-right: 10px;
  background-color: #333;
  background-position: 50% 70%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  -webkit-filter: none;
  filter: none;
}

.hero-head-title {
  text-align: center;
  font-size: var(--font-size-1);
  font-weight: 700;
  color: #fff;
  margin-bottom: 80px;
  margin-left: auto;
  margin-right: auto;
}
.hero-head-filter {
  display: flex;
}
.hero-head-filter .filter {
  width: calc((100% / 6) * 5);
}
.hero-head-filter .search {
  width: calc(100% / 6);
}
.hero-head-filter .filter-type {
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}
.hero-head-filter .filter-name {
  text-transform: uppercase;
  color: var(--gray-dark);
  min-width: 100px;
}
.hero-head-filter .filter-item {
  margin-right: 10px;
  display: inline-block;
  padding: 5px;
  background-color: #ffffff;
  color: #1d1d1d;
  font-size: 12.5px;
  border-radius: 3px;
  opacity: 0.7;
  cursor: pointer;
}
.hero-head-filter .filter-item:hover {
  opacity: 1;
}
.hero-head-filter .filter-item span:first-child {
  transition: transform 0.5s ease;
  margin-right: 5px;
  font-size: 10px;
}
.filter-item.active {
  background: var(--yellow);
  opacity: 1;
}
.hero-head-filter .filter-item {
  margin-bottom: 5px;
}
.filter-item.active span:first-child {
  transform: rotate(45deg);
}
.hero-head-filter .search {
  background-color: #ececec;
  max-width: 100%;
  border-radius: 3px;
  height: 30px;
  overflow: hidden;
}
.hero-head-filter .search input {
  width: 100%;
  max-width: 100%;
  outline: 0;
  border: 1px solid #cccccc;
  height: 30px;
  line-height: 30px;
  border-radius: 3px;
  padding: 8px 12px;
  font-size: 14px;
  background: transparent;
}
@media only screen and (max-width: 1200px) {
}
@media only screen and (max-width: 767px) {
  .hero-head-filter {
    flex-direction: column;
  }
  .hero-head-filter .filter-name {
    margin-bottom: 10px;
  }
  .hero-head-filter .filter {
    width: 100%;
  }
  .hero-head-filter .filter-type {
    align-items: flex-start;
    flex-direction: column;
  }

  .hero-head-filter .search {
    width: 40%;
  }
}
@media only screen and (max-width: 480px) {
}
