.projects {
  display: flex;
  flex-wrap: wrap;
}
.project-item {
  width: 20vw;
  height: 20vw;
  flex-basis: 20%;
  overflow: hidden;
}
.project-item a {
  text-align: center;
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  padding-top: 60px;
  padding-left: 30px;
  padding-right: 30px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 0.5s ease-in;
  font-size: var(--font-size-2);
}
.project-item:not(.project-item-text):hover a {
  -webkit-filter: brightness(100%) grayscale(100%);
  filter: brightness(100%) grayscale(100%);
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}
.project-name {
  padding-bottom: 10px;
  text-transform: uppercase;
  border-bottom: 0.5px solid #919191;
  margin-bottom: 10px;
  font-weight: 700;
}
.project-addr {
  font-weight: 400;
  font-size: var(--font-size-3);
}
.project-name,
.project-addr {
  transition: all 0.3s ease-in;
  opacity: 0;
}
.project-item:hover .project-name,
.project-item:hover .project-addr {
  opacity: 1;
  color: #fff;
}
.project-item:hover .project-name {
  border-color: #d3d3d3;
}
.project-item a .project-text {
  text-align: left;
  font-size: var(--font-size-1);
  font-weight: 700;
  line-height: 1.3;
  color: var(--gray-light);
}
.project-item:hover .project-text {
  color: var(--yellow);
}
.project-item.no-zoom:hover a {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
@media only screen and (max-width: 1200px) {
  .project-item {
    height: 33vw;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 33.33%;
    -ms-flex: 0 0 33.33%;
    flex: 0 0 33.33%;
    border: 5px solid #fff;
    overflow: hidden;
  }
  .project-info {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    background: rgba(0, 0, 0, 0.5);
  }
  .project-item a {
    text-align: left;
  }
  .project-name,
  .project-addr {
    color: #fff;
    opacity: 1;
  }
  .project-name {
    padding: 0;
    border: none;
  }
  .project-item:not(.project-item-text):hover a {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@media only screen and (max-width: 767px) {
  .project-item {
    flex: 0 0 50%;
    height: 50vw;
    border: 5px solid #fff !important;
  }
}
@media only screen and (max-width: 480px) {
}
